<h1>Your Projects</h1>


<% if @projects != nil %>
	 <% @projects.each do |project| %>
	 	<p><b>Project:</b> <%= project.name %>s</p>
	 	<br />
	 	<h3>Tasks:</h3>

	 	<% @tasks = get_tasks(project.id) %>
	 	<% if @tasks != nil %>
	 	
		 	<% @tasks.each do |task| %>
		 		<p>TASK NAME: <%= task.description %> <%= link_to "start session", sessions_path(:session => {project_id: project.id, start_time: Time.now, task_id: task.id}), method: :post %></p>

		 		<%= total_time(task.id) %>
	<!-- 	 		<% @sessions = task_sessions(task.id) %>
		 		<% if @sessions != nil%>
		 			<% @sessions.each do |session|%>
		 			<%= session.id %>

		 		<% end %> -->
		 		
		 		<% end %>
	 	<% end %>
	 	<% end %>

	 	<%= link_to "Start Task", new_task_path(project_id: project.id)%>
	 	<% end %>

	 	<%= params.inspect %>
<% end %>
