<%= form_for(@session) do |f| %>
  <% if @session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@session.errors.count, "error") %> prohibited this session from being saved:</h2>

      <ul>
      <% @session.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field "project_id", value: params[:project_id] %>
  </div>
  <div class="field">
    <%= f.label :start_time %><br>
    <%= f.datetime_select :start_time, ampm: true, default: Time.now %>
  </div>
  <div class="field">
    <%= f.label :end_time %><br>
    <%= f.datetime_select :end_time, ampm: true, default: Time.now %>
  </div>
  <div class="field">

    <%= f.hidden_field "task_id", value: params[:task_id] %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
