<p id="notice"><%= notice %></p>

<p>
  <strong>Start time:</strong>
  <%= @session.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @session.end_time %>
</p>

 <% if @session.end_time == nil %>
	<%= link_to 'End Session', :controller => 'sessions', :action => 'stop_time', params => {:id => @session.id} %>
<% end %>
<%= link_to 'Edit', edit_session_path(@session) %> 
<%= link_to 'Back', dashboard_path(session[:user_id]) %>
