<div id="tasks">
	 	<h3>Tasks:</h3>

	 	<% @tasks = Task.get_project_tasks(project_id) %>
	 	<% @active_session = Project.active_session(project_id) %>
	 	<%= link_to "Start New Task", new_task_path(project_id: project_id) %>

	 	<% if @tasks != nil %>
	 	
		 	<% @tasks.each do |task| %>
		 		

		 		<p>TASK NAME: <%= task.description %> 

		 		<% if @active_session.count < 1 %>

		 		<%= link_to "Start Session", sessions_path(:session => {project_id: project_id, start_time: Time.now, task_id: task.id, active: :true, user_id: user_id}), method: :post %>
		 		<%= link_to "Create Manual Session", new_session_path(project_id: project_id, user_id: user_id, task_id: task.id) %>
		 		<%= link_to 'Delete Task', task, method: :delete, data: { confirm: 'Are you sure?' }%></p> 
		 		<% end %>
		 	

		 		<% @time = Task.total_time(task.id) %>

		 		Total Time: <%=  @time[:hours]  %> Hours <%= @time[:minutes] %> Minutes
		 		<br />
		 			 	
		 			 	
	 					<% if @active_session.count > 0 && @active_session[:task_id] == task.id %>
	 					<b>Task is Active. </b> <%= link_to "Click here to stop time for active session.", :controller => 'sessions', :action => 'stop_time',:id => @active_session[:session_id] %> 
	 					<% else %>
	 						
	 					<% end %>
		 		
		 	<% end %>

	 	<% end %>
</div>	 	