<h1>New user</h1>
<p id="notice"><%= flash[:notice] %></p>
<%= render 'form' %>

<%= link_to 'Back', users_path %>

<% if current_user %>
	"Welcome <%= current_user.name %>"
	<%= link_to "Sign out", controller: 'authentication', action: :destroy  %>
<% else %>
	<%= link_to "Sign in with Github", "/auth/github" %>
	<%= link_to "Sign in with Google", "/auth/google_oauth2" %>
<% end %>

<%= current_user.inspect %>
