
<% @collaborators = Project.collaborators(project_id) %>
<h3>Collaborators: </h3>
	 	<% if @collaborators.count > 0 %>
		 	
		 	

		 	<% @collaborators.each do |collaborator| %>

		 	<p><%= collaborator.name %> <%= link_to "Remove Collaborator", :controller => 'projects', :action => 'remove_collaborator', :project_id => project_id, :user_id => collaborator.id %></p>
		 	<% end %>
	 	<% end %>
	 	Add Collaborator:<br />
	 	<%= form_tag("/add_collaborator", method: "get", id: project_id) do %>
			<%= label_tag("email") %>
			<%= email_field("email", "") %>
			<%= hidden_field_tag(:project_id, project_id)%>
			<%= submit_tag("Add") %>
		<% end %>