<p id="notice"><%= notice %></p>
<p>
  <h2><strong>Project Name:</strong>
  <%= link_to project.name, project_path(project.id) %></h2>
</p>

<p>
  <strong>Description:</strong>
  <%= project.description %>
</p>

<p>
  <strong>Completion date:</strong>
  <%= project.completion_date %>
</p>

<p>
  <strong>User:</strong>
  <%= project.user_id %>
</p>
	<%= render partial: 'projects/collaborator', locals: {project_id: project.id} %>
	<%= render partial: 'tasks/task', locals: {project_id: project.id, user_id: session[:user_id]} %>

	
	 	<br />
	 				<% @project_time = Project.total_time(project.id) %>

		 		<b>Total Overall Time For Project: <%=  @project_time[:hours]  %> Hours <%= @project_time[:minutes] %> Minutes </b>
	 		 				<br />
	 		 				<%= link_to "Export to CSV", project_path(project.id, format: :csv) %>
	 		 				<br >
	 			 	Project Status: <% @status = Project.complete?(project.id) %>
						 	<% if @status == true %>
						 		Project completed on: <%= project.completion_date %>
						 	<% else %>
						 	Project is active.  <%= link_to 'Click Here To End Project', redirect_to: project_path(id: project.id, project:{completion_date: Time.now}), method: :put %>
						 	<% end %>
						 	<br />

